@import "tailwindcss";
/* @import "tailwindcss/theme";
@import "tailwindcss/utilities"; */

@layer base {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
  }

@font-face {
  font-family: "Satoshi";
  src: url("/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
}
}

@font-face {
  font-family: "Satoshi";
  font-weight: 300;
  src: url("/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  src: url("/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 500;
  src: url("/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 600;
  src: url("/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Chillax";
  font-weight: 300;
  src: url("/Chillax_Complete/Fonts/OTF/Chillax-Light.otf") format("opentype");
}

@font-face {
  font-family: "Chillax";
  font-weight: 400;
  src: url("/Chillax_Complete/Fonts/OTF/Chillax-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Gambetta";
  font-weight: 400;
  src: url("/Chillax_Complete/Fonts/OTF/Gambetta-Regular.otf") format("opentype");
}

/* bde0fe */
/* a2d2ff */
/* f4f1de */
/* b6ad90 */
/* c2c5aa */

@theme {
  --color-sand: #DAC5A7;
  --color-white: #FEFAE0;
  --color-black: #0e0e0e;
  --font-satoshi: "Satoshi", serif;
  --font-chillax: "Chillax", serif;
  --font-gambetta: "Gamvetta", serif;
}

@layer utilities {
  .font-satoshi {
    font-family: var(--font-satoshi);
  }

  .font-chillax {
    font-family: var(--font-chillax);
  }

  .font-gambetta {
    font-family: var(--font-gambetta);
  }
}



/* CTA Banner Animation */
.cta-banner {
  animation: scroll 35s infinite linear;
}

.cta-banner:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 32px));
  }
}